<div id="auth-form-div" class="flex-column">
    <form action="/verificare-autentificare" method="POST" id="auth-form">
        <label for="username">Utilizator</label>
        <input type="text" placeholder="utilizator" autocomplete="off" name="username">
        <br />
        <label for="password">Parola</label>
        <input type="password" placeholder="parola" autocomplete="off" name="password">
        <br />
        <br />
        <input type="submit" value="Autentificare">
    </form>
</div>