<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toasted</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/base-style.css" type="text/css">
    <link rel="shortcut icon" type="image/jpg" href="images/favicon.ico"/>
</head>

<body>
    <div class="main-div">
        <header class="styled-header">
            <div class="logo-div">
                <img src="images/toaster.png" alt="Logo" id="logo-img">
                <h1>Toasted</h1>
            </div>

            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-link"><a href="/chestionar">Chestionar</a></li>
                </ul>
            </nav>
        </header>
        <%- body -%>
        <footer class="styled-footer">
            <p id="copyright">Copyright &copy; 2021 Iulian Rusu. All Rights Reserved.</p>
        </footer>
    </div>
</body>

</html>