<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/base-style.css" type="text/css">
    <% for(let i=0; i < styleList.length; ++i) { %>
        <link rel="stylesheet" href="css/<%= styleList[i] %>">
    <% } %>
</head>

<body>
    <header class="styled-header">
        <div class="logo-div">
            <img src="images/toaster.png" alt="Logo" id="logo-img">
            <h1 class="fancy-font">toasted.com</h1>
        </div>
        <div class="menu-div">
            <% if (session.user) { %>
                Logat ca <span class="fancy-font"><%= session.user.username %> </span>
            <% } %>
            <a class="menu-link hoverable" href="/">Acasă</a></li>
            <a class="menu-link hoverable" href="/autentificare">Autentificare</a></li>
            <a class="menu-link hoverable" href="/chestionar">Chestionar</a></li>
            <% if (session.user) { %>
                <a class="menu-link hoverable" href="/logout">Logout</a></li>
            <% } %>
        </div>
    </header>
    <div class="main-div">
        <%- body -%>
    </div>
    <footer class="styled-footer">
        <p id="copyright">Copyright &copy; 2021 Iulian Rusu. All Rights Reserved.</p>
    </footer>
</body>

</html>