h2 {
    color: var(--invalid);
}

#insert-product-div>* {
    margin: auto;
    margin-top: 20px;
    text-align: right;
}

#insert-product-form * {
    margin: 5px;
    padding: 5px;
}

#insert-product-form label {
    text-align: center;
    width: 100px;
}

#insert-product-form input {
    width: 150px;
    border: 2px solid var(--dark-color);
    margin-bottom: 20px;
}

#insert-product-form input:focus {
    outline: none;
}
