:root {
    --bg-color: white;
    --dark-color: black;
    --valid: rgb(0, 170, 37);
    --invalid: rgb(211, 0, 0);
    --grey: rgb(51, 51, 51);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.invisible {
    visibility: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--bg-color);
}

.logo-div {
    display: flex;
}

.logo-div>*{
    align-self: center;
}

.logo-div>h1 {
    font-size: 350%;
    color: var(--grey);
}

#logo-img {
    width: 50px;
    margin: 15px;
}

.main-div {
    display: flex;
    flex-direction: column;
}

.styled-header {
    display: flex;
}

@media screen and (max-width: 900px) {
    .styled-header {
        flex-direction: column;
    }
}

.styled-header>* {
    align-self: center;
    margin: 15px;
}

.menu-div {
    margin-left: 30px;
}

.menu-list {
    display: flex;
}

.menu-link {
    text-decoration: none;
    color: var(--dark-color);
    padding-left: 20px;
    padding-right: 20px;
}

.menu-link:hover{
    border-bottom: 2px solid var(--dark-color);
}

.styled-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 35px;  
    color: var(--bg-color);
    background-color: var(--dark-color);
}

.styled-footer #copyright {
    margin: 5px;
    text-align: center;
}

input[type="submit"], input[type="button"]  {
    border: 2px solid var(--dark-color);
    background-color: transparent;
    color: var(--dark-color);
    font-weight: bold;
    border-radius: 2px;
    width: 200px;
    height: 35px;
}

input[type="submit"]:hover, input[type="button"]:hover {
    animation-name: button-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes button-anim {
    to {
        background-color: var(--dark-color);
        color: var(--bg-color);
    }
}